#root {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: inline-block;
    padding: 20px;
    border-radius: 1.5rem;
    margin: .6rem;
    transition: 0.3s;
    position: relative;
    text-align: center;
    cursor: pointer;

}

.card__img {
    border-radius: 1rem;
    width: 210px;
    height: 330px;
}



@media (min-width: 768px) {
    .card:hover {
        transition: 0.3s;
        transform: translateY(-10px);
        box-shadow: 4px 4px 12px 2px rgb(0, 0, 0);
    }

    .card__info {
        position: absolute;
        top: 20px;
        background: rgba(29, 29, 33, 0.702);
        color: #f1f1f1;
        transition: 0.5s;
        opacity: 0;
        padding: 1rem;
        color: white;
        font-size: 15px;
        width: 210px;
        height: 330px;
        text-align: center;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }

    .card__info>p {
        padding: 1rem;
        font-size: 1.1 rem;
    }
}

.card:hover .card__info {
    opacity: 1;

}


@media (max-width: 768px) {
    .card {
        background-color: gainsboro;
    }

    .card__info {
        position: inherit;
        opacity: 100%;
        top: 0;
        color: #171b45;
        background: none;
        display: inherit;
        width: inherit;
        height: inherit;
        font-size: 13px;
    }

    .card__info>p {
        padding: .5rem;
    }
}


#cardDesc {
    padding: 8px;
}

.single-card {

    background-color: #b4b4b4;
    border: 1px solid black;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 1px 3px 8px 5px rgb(57, 57, 57);
    @media(min-width: 768px) {
        width: 700px;
        gap: 20px;
    }
    @media(max-width: 768px) {
        width: 70%;
    }

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 50px auto;
    gap: 20px;



    width: 100%;

    img {
        @media(min-width:768px) {
            height: 300px;
            width: 200px;
        }

        width: 100%;
        height: 300px;


    }

    &__content {
        @media(min-width: 768px) {}

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        flex: 2;
        direction: ltr;

    }
}

.container__filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:3rem 0 3rem 0;

}
.container__filter > ul {
    list-style: none;
}

#closeBtn {
    transition: .3s;

}
#closeBtn:hover {
    color: red;
}

.hide {
    display: none !important;
}